variables.json

*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/

env/

*.retry

infra*.json

jdauphant.nginx

vault.key

# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache

venv/

docker-239119-0f46381a8e8f.json
.DS_Store

.env

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

.DS_Store
